<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="deviceName" value="emulator-5554"/>
    <add key="Version" value="6.0"/>
    <add key="BrowserName" value="Android"/>
    <add key="Platform" value="Android"/>
    <add key="HealthyfiPackage" value="com.healthifyme.basic"/>
    <add key="HealthyfiActivity" value="com.healthifyme.basic.activities.NewLoginSignupActivity"/>
    <add key="ContactPackage" value="com.android.contacts"/>
    <add key="ContactActivity" value="com.android.contacts.activities.PeopleActivity"/>
    <add key="BigBasketPackage" value="com.bigbasket.mobileapp"/>
    <add key="BigBasketActivities" value="com.bigbasket.mobileapp.activity.SplashActivity"/>
    <add key="CalcualtorPackage" value="com.android.calculator2"/>
    <add key="CalculatorActivities" value="com.android.calculator2.Calculator"/>
    <add key="MessagePackage" value="com.android.messaging"/>
    <add key="MessageActivities" value="com.android.calculator2.Calculator"/>
    <add key="URL" value="http://127.0.0.1:4723/wd/hub"/>
    <add key="app1" value="C:\\Users\\105798\\testapplications\\HealthifyMe.apk"/>
    <add key="app2" value="C:\\Users\\105798\\testapplications\\bigbasket_com.bigbasket.mobileapp.apk"/>
    <add key="mdLotteryPackage" value="com.mdi.mdlottery"/>
    <add key="mdLotteryActivity" value="com.mdi.mdlottery.MainActivity"/>
    <add key="mdLotteryapp" value="D:\\downloads-sw\\apk-apps\\mdNativeApp.apk"/>
  </appSettings>
</configuration>